.navbar{
    display: flex;
 justify-content: space-between;
   background-color:yellow ;
   width: 100%;
   height: 100px;
   max-width: 100%;
   align-items: center;
}
.nav_Name{
padding-left:20px ;
    
}
.box_link{
    display: flex;
    gap: 10px;
    
}
.box_link:hover{
    transition: 0.5s;
    color: gray;
}
.About{
 background-image:url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg);
 height: 80vh;
 width: 100%;
 background-size: cover;
}
.About_head{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.icon{
    display: none;
}
.basliq{
    font-size: 40px;
}
.About_text{
    top: 20px;
    height: 100vh;
  
}
.text{
    height: 25vh;

    
    justify-content: center;
    align-items: center;
    text-align: center;
transition: 0.5s;
}
.text:hover a{
    color: green;
}
.link{
    font-size: 30px;
}

.botom{
    display: flex;
    height: 40px;
    border: 1px solid black;
    
}
.h1_class{
   
    text-align: right;
    height: 80px;
    width: 100px;

}
.aa{
    /* width: 50%; */
    right: 10px;
    text-align: center;
    width: 10%;
    margin: 0px auto;
   background-color: aqua;
}
.aa h1{
    text-align: right;
}
@media only screen and (max-width: 600px) {
   .box_link{
    display: none;
   }
   .icon{
    display: block;
   }

   
  }